// Place all the styles related to the chamados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.erro{
font-size:14px;
color:#F00;
margin-bottom:10px;
font-weight:bold;
width:1000px;
margin-left:auto;
margin-right:auto;
}

