<!DOCTYPE html>
<html>
<head>
  <title>Atlas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="app_body">
  <header>
	  <h1>Sistema de Atendimento</h1>
  </header>
  <%= yield %>  
</div>
</body>
</html>
